{% extends "frontend/main.html" %}
{% block content %}
<div class="container mt-5">
    <h1>Create Blog Post</h1>
    {% if messages %}
    <div class="alert alert-danger">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
{% endblock content %}